<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Create an Account</h2>
      <mat-list>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              required
            />
            <mat-error> Please provide a name! </mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Email"
              formControlName="email"
              required
            />
            <mat-error> Please provide a valid email address! </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
            />
            <mat-error> Please provide a strong password! </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width">
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="repeatPassword"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              required
            />
            <mat-error> Password and Confirm Password doesn't match! </mat-error>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <button [disabled]="loading" mat-raised-button color="primary"
          style="display:block;margin:auto">
            REGISTER
          </button>
          <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
        </mat-list-item>

        <mat-list-item>
          Aready have an account? &nbsp;
          <a [routerLink]="['/login']" [queryParams]="{ returnUrl: returnUrl }"
            >Login</a
          >
        </mat-list-item>
      </mat-list>
    </form>
  </mat-card-content>
</mat-card>
